/* .content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.img-block{
    padding: 5px;
    page-break-inside: avoid;
}
img {
    page-break-before: auto; 
    page-break-after: auto; 
    page-break-inside: avoid; 
} */
.content{
    display: flex;
    flex-wrap: wrap;
}

img {
    page-break-before: auto; 
    page-break-after: auto; 
    page-break-inside: avoid; 
}
.img-block{
    padding: 5px;
    page-break-inside: avoid;
}