.content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.img-block{
    padding: 5px;
    page-break-inside: avoid;
}
img {
    page-break-before: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
    page-break-after: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
    page-break-inside: avoid; /* or 'auto' */
}