<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"
    {% block head %}
    {% endblock %}
</head>
<body>
    <nav class="menu-container">
        <!-- burger menu -->
        <input type="checkbox" aria-label="Toggle menu" />
        <span></span>
        <span></span>
        <span></span>
      
        
        <!-- menu items -->
        <div class="menu">
          <ul>
            <li>
              <a href="/">
                Strona Główna
              </a>
            </li>
            <li>
              <a href="/add">
                Dodaj
              </a>
            </li>
            <li>
              <a href="/list">
                Lista
              </a>
            </li>
            <li>
              <a href="/search">
                Sprawdź
              </a>
            </li>
          </ul>
        </div>
      </nav>
    {% block body %}

    {% endblock %}
</body>
</html>